main {
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.sidebar {
    background-color: #5a3e7a;
    overflow-y: scroll;
    width: 325px;
}

.sidebar hr {
    border-color: #888ea3;
    color: #888ea3;
    opacity: 1;
}

.scrollable {
    overflow-y: auto;
    width: auto;
}

.card,
.list-group-item {
    background-color: transparent !important;
    border-color: #888ea3 !important;
}

.card-header {
    background-color: rgba(255, 255, 255, 0.3) !important;
    text-align: center;
    border-bottom: 1px solid #888ea3 !important;
}

.card-body {}

.wrapper {
    position: relative;
}

.wrapper i {
    position: absolute;
    left: 0;
}

.card-header.secondary {
    background-color: rgba(255, 255, 255, 0.5) !important;
    text-align: left;
}

.container img {
    max-height: 100vh;
    max-width: calc(100vw - 325px);
    height: auto;
    width: auto;
}

.graph_wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graph_wrapper .time_expand {
    position: absolute;
    right: 0;
    top: 0;
}

.graph_wrapper .slider {
    width: 100%;
}

.toolbar.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    overflow-x: hidden;

    text-align: center;

    width: 100%;

    position: absolute;
    bottom: -35px;
}

.toolbar .selected_step {
    width: 7em;
    font-weight: bold;
}

.graph_wrapper .slider_container {
    max-width: 500px;
}

.slider.slider-horizontal .slider-handle {
    background: #5A3E7A;
}

.slider.slider-horizontal .slider-selection {
    background: #8C78A2;
}

.slider .slider-tick.in-selection {
    background: #b29acc;
}

#input_note {
    background-color: transparent;
    position: absolute;
    width: 100%;
    top: 1em;
    left: 0;
    padding: 0;

    border: none;
    font-size: 2em;

    text-align: center;
}

#input_note:focus {
    outline: none;
}